[submodule "Hazel/Hazel/vendor"]
	path = Hazel/Hazel/vendor
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/vendor/spdlog"]
	path = Hazel/vendor/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
